<p>
  <h1>  <%= @article.title %></h1>

</p>

<p>
  <%= @article.content %>
</p>

<h2> <number><%= @article.comments.count %></number> comments </h2>

<% @article.comments.each do |comment| %>
  <p>
    <%= comment.commenter %> :
    <br>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
